node-red/data/flows.json
[
    {
        "id": "e987f2e1.4589d",
        "type": "tab",
        "label": "Industrial Dashboard",
        "disabled": false,
        "info": ""
    },
    {
        "id": "mqtt-in-1",
        "type": "mqtt in",
        "z": "e987f2e1.4589d",
        "name": "Temperature Sensor",
        "topic": "factory/sensors/temperature",
        "qos": "2",
        "datatype": "json",
        "broker": "broker-1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 210,
        "y": 140,
        "wires": [
            [
                "json-parse-1"
            ]
        ]
    },
    {
        "id": "json-parse-1",
        "type": "function",
        "z": "e987f2e1.4589d",
        "name": "Extract Value",
        "func": "msg.payload = msg.payload.value;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 140,
        "wires": [
            [
                "ui_gauge-1"
            ]
        ]
    },
    {
        "id": "ui_gauge-1",
        "type": "ui_gauge",
        "z": "e987f2e1.4589d",
        "name": "Temperature",
        "group": "ui-group-1",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Factory Temperature",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "35",
        "seg2": "50",
        "x": 670,
        "y": 140,
        "wires": []
    },
    {
        "id": "broker-1",
        "type": "mqtt-broker",
        "name": "Local Mosquitto",
        "broker": "mosquitto",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "ui-group-1",
        "type": "ui_group",
        "name": "Sensors",
        "tab": "ui-tab-1",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "ui-tab-1",
        "type": "ui_tab",
        "name": "Factory Dashboard",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]
